.home {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Header */
.home__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__header p {
    margin: 0;
    font-size: 13px;
    color: var(--color-text);
}

.home__header-search {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    background: var(--color-surface);
    box-shadow: var(--shadow-soft);
    outline: none;
    ;
}

/* Banner */
.home__banner {
    height: 200px;
}

.home__banner-card {
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    background-image: url('../../images/caramel-cloud.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    color: white;
    position: relative;
}

.home__banner-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.home__banner-card-text,
.home__banner-card-button {
    position: relative;
}

/*Banner Boton*/
.home__banner-card-button {
    margin-top: 10px;
    background-color: var(--color-primary);
    border: none;
    padding: 8px 14px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

/* Categorias*/
.home__section-categorias {
    display: flex;
    gap: 10px;
}

.home__section-categorias-button {
    background: var(--color-surface);
    border: none;
    padding: 8px 14px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.2s;
}

.home__section-categorias-button:hover{
    background: var(--color-primary);
    color: white;
}