.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.cart-item__info h4 {
  margin: 0;
  font-size: 16px;
}

.cart-item__info p,
.cart-item__info small {
  margin: 4px 0;
}

.cart-item__flavor {
  font-size: 12px;
  color: #888;
}

.cart-item__actions {
  text-align: right;
}
.cart-item__actions p{
  font-weight: 700;
}


.cart-item__qty {
  display: flex;
  gap: 10px;
  align-items: center;

}

.cart-item__qty button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.cart-item__qty button:hover{
  background-color: #ddd;
}

.cart__pay {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.cart__pay:hover{
  background-color: var(--color-primary);
}